---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Moon from "../components/svg/Moon.jsx";
import { GithubFilled, LinkedinFilled } from "@ant-design/icons";
---

<Layout title="Adriano Romero Portifolio">
  <main class="bg-white px-10">
    <section class="min-h-screen">
      <nav class="py-10 mb-12 flex justify-between">
        <h1 class="text-xl font-mono">Adriano Romero</h1>
        <ul class="flex items-center">
          <li>
            <Moon client:load className="bg-white cursor-pointer text-2xl" />
          </li>
          <li>
            <a
              href="/"
              class="bg-gradient-to-r from-cyan-500 to-teal-500 text-white px-4 py-2 rounded-md ml-8"
              >Home</a
            >
          </li>

          <li>
            <a
              href="projects"
              class="bg-gradient-to-r from-cyan-500 to-teal-500 text-white px-4 py-2 rounded-md ml-8"
              >Projects</a
            >
          </li>
          <li>
            <a
              href="#"
              class="bg-gradient-to-r from-cyan-500 to-teal-500 text-white px-4 py-2 rounded-md ml-8"
              >About</a
            >
          </li>
        </ul>
      </nav>
      <div class="text-center p-10">
        <h2 class="text-5xl py-2 text-teal-600 font-medium">
          Adriano "Ogih" Romero
        </h2>
        <h3 class="text-2xl py-2">Fullstack Developer</h3>
        <p class="text-md pt-2 leading-8 text-gray-800">
          Graduated with a passion for software development.
        </p>
        <p class="text-md leading-8 text-gray-800">
          Skilled in Java, Python, PHP, JavaScript and more.
        </p>
        <p class="text-md pb-2 leading-8 text-gray-800">
          Always available for contact.
        </p>
      </div>
      <div class="text-5xl flex justify-center gap-16 py-3 text-gray-600">
        <a href="https://www.linkedin.com/in/adriano-romero/"
          ><LinkedinFilled /></a
        >
        <a href="https://github.com/ogihromero">
          <GithubFilled />
        </a>
      </div>

      <div
        class="relative rounded-full w-80 h-80 mt-20 mx-auto overflow-hidden my-auto">
        <img
          src="/images/avatar-circle-pixelicious.png"
          alt="Adriano's Avatar"
        />
      </div>
    </section>

    <section>
      <div>
        <h3 class="text-3xl py-1">What I can offer</h3>
        <p class="text-md py-2 leading-8 text-gray-800">
          I am adept at building robust and scalable solutions using modern
          technologies and frameworks. I'm also committed to staying updated
          with emerging trends and continuously improving my skills. My goal is
          to contribute to the success of projects through my technical
          expertise, attention to detail, and dedication to delivering reliable
          and efficient solutions.
        </p>
      </div>
    </section>
  </main>
</Layout>
